{"creator" "Junhao Li and Ellad Tadmor"
 "contributor-id" "360c0aed-48ce-45f6-ba13-337f12a531e8"
 "description" "Computes the cubic elastic constants for some common crystal types (fcc, bcc, sc, diamond) by calculating the hessian of the energy density with respect to strain.  An estimate of the error associated with the numerical differentiation performed is reported."
 "doi" "10.25950/5853fb8f"
 "domain" "openkim.org"
 "executables" ["runner" "test_template/runner"]
 "extended-id" "ElasticConstantsCubic__TD_011862047401_006"
 "kim-api-version" "2.0"
 "maintainer-id" "360c0aed-48ce-45f6-ba13-337f12a531e8"
 "properties" ["tag:staff@noreply.openkim.org,2014-04-15:property/bulk-modulus-isothermal-cubic-crystal-npt"
               "tag:staff@noreply.openkim.org,2014-05-21:property/elastic-constants-isothermal-cubic-crystal-npt"]
 "publication-year" "2019"
 "simulator-name" "ase"
 "source-citations" [{"address" "New York"
                      "author" "H.B. Huntington"
                      "doi" "10.1016/S0081-1947(08)60553-6"
                      "journal" "Solid State Physics"
                      "pages" "213--351"
                      "publisher" "Academic Press"
                      "recordkey" "TD_011862047401_006a"
                      "recordtype" "article"
                      "title" "The Elastic Constants of Crystals"
                      "volume" "7"
                      "year" "1958"}]
 "title" "Elastic constants for cubic crystals at zero temperature and pressure v006"}
